/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/minio
/storage/api-docs/*
/vendor
public/vendor
.env
.env
.env.backup
.env.dev
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# IDE
/.idea
/.vscode
/.vagrant
.phpstorm*
_ide_helper.php
.DS_Store
.serverless/*
docker/logs/*

*.js
!jest.config.js
*.d.ts
**/node_modules

**/.cdk.staging
**/cdk.out
**/cdk.context.json
**/cdk/lib/stacks/ses-email-tracking/layers/*

coverage-report
