includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - Modules/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to an undefined property [a-zA-Z0-9\\_|]+::\$[a-zA-Z0-9\\_]#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\(\)]#'
        - '#PHPDoc type #'

    excludePaths:
        - app/Console/Commands/Generators/ModuleGenerator.php
        - Modules/User/Database/Seeders/MasterPermissionSeeder.php
        - Modules/*/Tests/*.php
        - Modules/Core/*

    treatPhpDocTypesAsCertain: false
#
#    checkMissingIterableValueType: false
